<div>
	<div class="table-responsive ">
		<table class="table table-striped table-bordered">
			{{#if data}}
			<thead class="thead-dark">
				<tr>
					<th scope="col">Budget Number </th>
					<th scope="col">Project Description </th>
					<th scope="col">Budget Year</th>
					<th scope="col">Budget Amount</th>
					<th scope="col">Asset Class</th>
					<th scope="col">Department</th>
					<th scope="col">Business Justification</th>
					<th scope="col">Requestor</th>
					<th scope="col">Status: </th>
					<th scope="col">Actual Spending</th>
					<th scope="col">Remaining Budget</th>
				</tr>
			</thead>
			{{else}}
			<tr>
				<td colspan="3">No data found ... Add One!</td>
			</tr>
			{{/if}}
			<tbody>
				{{#each data}}
				<tr>
					<td>{{this.budgetNumber}}</td>
					<td>{{this.projectDescription}}</td>
					<td>{{this.budgetYear}}</td>
					<td>{{this.budgetAmount}}</td>
					<td>{{this.assetClass}}</td>
					<td>{{this.department}}</td>
					<td>{{this.businessJustification}}</td>
					<td>{{this.requestor}}</td>
					<td>{{this.status}}</td>
					<td>{{this.actualSpending}}</td>
					<td>{{this.remainingBudget}}</td>
					</td>
					<td>
						<a href="/projects/admin/edit/{{this.id}}">Edit</a> |
						<a href="/projects/admin/delete/{{this.id}}">Delete</a>
					</td>
				</tr>
				{{/each}}
			</tbody>

		</table>
		<button class="btn btn-primary" onClick="addProjectAdmin();">Submit A Project Request</button>

	</div>
</div>